--- 
:email_configured: true # Set this if you want to enable email.
:email_config_params: # Information used to send out all emails.
  :port: 587
  :authentication: :plain
  :user_name: USERNAME@gmail.com
  :password: PASSWORD
  :address: smtp.gmail.com
:notify_recipients: # When user comments or events happen on the server, these email addresses get notified.
  - <recipient1-of-events-and-comments>@gmail.com
  - <recipient2-of-events-and-comments>@gmail.com
